<h2>Custom Highcharts Widget</h2>

<table class="table table-striped">
    <thead>
        <tr ng-repeat="columnHeader in $ctrl.columnHeaders track by $index">
            <th ng-repeat="item in columnHeader track by $index">{{item}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in $ctrl.rowsData track by $index">
            <td ng-repeat="rowItem in row track by $index">{{rowItem}}</td>
        </tr>
    </tbody>
</table>

<h2>Custom Highcharts Widget Implementation</h2>
<hc-heat-map options="$ctrl.chartOptions">Placeholder for generic chart</hc-heat-map>
